body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}
.form-table{
    padding: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, td, th {  
    border-bottom: 1px solid #ddd;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header p{
    margin-left: 20px;
}
.header button{
    margin-right: 20px;
    border-radius: 20px;
    height: 30px;
    border: none;
    color: white;
    background-color: rgb(218, 56, 56);
}

table{
    width: 100%;
}
th{
    text-align: start;
}
.status{
    display: flex;
    align-items: center;
}
.status-success{
    height: 10px;
    width: 10px;
    border: 1px solid rgb(5, 182, 5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status-success div{
    height: 2px;
    width: 2px;
    background-color: rgb(5, 182, 5);
    border: 1px solid rgb(5, 182, 5);
    border-radius: 50%;
}
.status p{
    margin-left: 10px;
}
.invoice{
    color: #05dada;;
}
.customer-name{
    display: flex;
    align-items: center;
}
.customer-name img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.customer-name p{
    margin-left: 10px;
}
.product{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.product img{
    width: 30px;
    height: 30px;
}
.product div{
    background-color: white;
    color: black;
    position: absolute;
    left: 75px;
}
.categories{
    border-radius: 5px;  
}
.shipping{
    width: 95%;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}
.shipping div{
    height: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.fail-success{
    height: 10px;
    width: 10px;
    border: 1px solid rgb(252, 11, 11);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fail-success div{
    height: 2px;
    width: 2px;
    background-color: rgb(252, 11, 11);
    border: 1px solid rgb(252, 11, 11);
    border-radius: 50%;
}
.process-success{
    height: 10px;
    width: 10px;
    border: 1px solid rgb(233, 162, 10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process-success div{
    height: 2px;
    width: 2px;
    background-color: rgb(233, 162, 10);
    border: 1px solid rgb(233, 162, 10);
    border-radius: 50%;
}
